# Regular Expressions

Q1. Write a python program to replace all occurances of space, comma, or dot with a colon

In [273]:
import re
def func():
    Sample_text = 'Python Exercises, PHP exercises.'
    pattern="[\s|,|.]"
    result=re.sub(pattern,":",Sample_text)
    print(result)
    
func()

Python:Exercises::PHP:exercises:

Q2. Create a dataframe using the dictionary below and remove everything(commas(,),!,XXXX,;,etc.) from the columns expect words

In [274]:
import pandas as pd
Dictionary = {'SUMMARY':['hello, world!', 'XXXXX test', '123four, five:; six...']}
df=pd.DataFrame(Dictionary)
# To remove everything from the columns expect words --- we use replace method 
pattern="[^a-zA-Z\s]|X+"
df['SUMMARY']=df['SUMMARY'].str.replace(pattern,"",regex=True)
df

         SUMMARY
0    hello world
1           test
2  four five six

Q3. Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile method if mandatory

In [275]:
def words():
    string = "Practice yoga daily for good  mental and physical health"
    pattern=re.compile(r"(\w{4,})")
    for word in  pattern.finditer(string):
        print(word.group())
    
words()

Practice
yoga
daily
good
mental
physical
health

Q4. Create a function in python to find all three, four, five character words in a string. The use of the re.compile() method is mandatory

In [276]:
def find_characters():
    text = "Data Science is a stream and it is part of AI. You can solve any complex problems using datascience tools and techs"
    pattern = re.compile(r"\b\w{3}\b|\b\w{4}\b|\b\w{5}\b")
    result = re.findall(pattern,text)
    print(result)
    
find_characters()

['Data', 'and', 'part', 'You', 'can', 'solve', 'any', 'using', 'tools', 'and', 'techs']

Q5. Create a function in python to remove the parenthesis in a list of strings. The use of re.compile() method is mandatory.

In [277]:
def remove_parenthesis(sample_text):
    pattern=re.compile(r"[(|)]")
    for i in sample_text:
        res=re.sub(pattern,"",i)
        print(res)
    
sample_text = ["example(.com)", "hr@fliprobo(.com)", "github(.com)", "Hello (Data Science world)","Data (Scientist)"]
remove_parenthesis(sample_text)

example.com
hr@fliprobo.com
github.com
Hello Data Science world
Data Scientist

Q6. Write a python program to remove the parenthesis area from the text stored in the text file using regular expression.

In [311]:
def remove_parenthesis():
    with open('sample_text.txt','r') as file:
        text= file.read()
        pattern=r"\([^()]*\)"
        remove = re.sub(pattern,"",text)
    with open('sample_text.txt','w') as file:
        file.write(remove)
        
remove_parenthesis()

Q7. Write a regular expression in python to split a string into uppercase letters

In [279]:
def uppercase_letters():
    sample_text="ImportanceOfRegularExpressionInPython"
    pattern=r"[A-Z][a-z]*"
    upper_case = re.findall(pattern,sample_text)
    return upper_case
upper_case=uppercase_letters()
print(upper_case)

['Importance', 'Of', 'Regular', 'Expression', 'In', 'Python']

Q8. Create a function in python to insert sapces between words starting with numbers

In [280]:
def spaces_between_words():
    sample_text="RegularExpression1IsAn2ImportantTopic3Inpython"
    pattern=r"([A-Z][A-Za-z]+)"
    result=re.sub(pattern,r"\1 ",sample_text)
    print(result)
spaces_between_words()

RegularExpression 1IsAn 2ImportantTopic 3Inpython

Q9. Create a function in python to insert sapaces between words starting with capital letters or with numbers.

In [281]:
def spaces_between_words_number():
    sample_text = "RegularExpression1IsAn2ImportantTopic3InPython"
    pattern = r"([A-Z][A-Za-z]+)"
    sample_result = re.sub(pattern,r" \1 ",sample_text)
    print(sample_result)
spaces_between_words_number()

 RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

Q10. Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframeunder a new column called first_five_letters

In [282]:
df=pd.read_csv(r"https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv")
pattern = "(\w{1,6})"
df["first_five_letters"]=df['Country'].str.extract(pattern)
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Rwanda
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,Benin
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,Syria
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Burund
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,Togo

Q11. Write a python program to match a string that contains only upper and lowercase letters, numbers, and underscore.

In [283]:
def match_a_string(string):
    pattern = r"^[\w]+$"
    if re.match(pattern,string):
        print("String matches a pattern")
    else:
        print("String does not match a pattern")
string=input("Enter a string : ")
match_a_string(string)

Enter a string : Abcd
String matches a pattern

Q12. Write a python program where a string will start with a specific number.

In [284]:
def start_with_number(string):
    pattern = r"^[0-9]+"
    if re.match(pattern,string):
        print("String starts with a number")
    else:
        print("String won't start with a number")

string=input("Enter a string : ")
start_with_number(string)

Enter a string : 123Abc
String starts with a number

Q13. Write a python program to remove leading zeros from an IP address.

In [285]:
def remove_leading_zeros(ip_address):
    pattern=r"\b0+(\d+)"
    print(re.sub(pattern,r"\1",ip_address))
ip_address="01.206.080.800"
remove_leading_zeros(ip_address)

1.206.80.800

Q14. Write a regular expression in python to match a date string in the form of month name followed by day number and year stored in a text file

In [286]:
def matchdate():
    with open("match_date.txt","r") as file:
        date = file.read()
        pattern ="[A-za-z]+\s\d{1,2}th\s\d{4}"
        extract_date=re.findall(pattern,date)
        print(extract_date)

matchdate()

['August 15th 1947']

Q15. Write a python program to search some literals strings in a string

In [287]:
 def search_literals():
    Sample_text="The quick brown fox jumps over the lazy dog"
    pattern=['fox','dog','horse']
    for words in pattern:
        if re.search(words,Sample_text):
            print("The literal string is :",words)
        else:
            print("There is no literal string in a string")

search_literals()

The literal string is : fox
The literal string is : dog
There is no literal string in a string

Q16. Write a python program to search a literals string in a string and also find the location within the original string where the pattern occurs

In [288]:
def search_literals_location(string):
    pattern = "fox"
    result=re.search(pattern,string)
    print("Found :",pattern,"\nAt location:",result.span())
    
string = "The quick brown fox jumps over the lazy dog"
search_literals_location(string)

Found : fox
At location: (16, 19)

Q17. Write a python program to find the substring with in a string.

In [296]:
def substring():
    string = 'Python exercises, PHP exercises, C# exercises'
    pattern="exercises"
    for match in re.findall(pattern,string):
        print("substring is ",match)
        
substring()

substring is  exercises
substring is  exercises
substring is  exercises

Q18. Write a python program to find the occurence and position of the substring with in a string

In [297]:
def occurence_position():
    string='Python exercises, PHP exercises, C# exercises'
    pattern = "exercises"
    for result in re.finditer(pattern,string):
        print("substring is",pattern,"and postion is",result.span())
    
occurence_position()

substring is exercises and postion is (7, 16)
substring is exercises and postion is (22, 31)
substring is exercises and postion is (36, 45)

Q19. Write a python program to convert a date of yyyy-mm-dd to dd-mm-yyyy

In [298]:
def convert_date():
    date="2026-12-30"
    pattern="(\d{4})-(\d{1,2})-(\d{1,2})"
    result=re.sub(pattern,"\\3-\\2-\\1",date)
    print(result)

convert_date()

30-12-2026

Q20. Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of re.compile() method is mandatory.

In [299]:
def decimal_numbers(decimal_num):
    pattern = re.compile(r"\b\d+\.\d{1,2}\b")
    decimal=re.findall(pattern,decimal_num)
    print(decimal)
    
decimal_num = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
decimal_numbers(decimal_num)

['01.12', '145.8', '3.01', '27.25', '0.25']

Q21. Write a python program to seperate and print the number and their position of a given string

In [300]:
def number():
    text = "My marks in each semester are : 947, 896, 926, 524, 734, 950, 642"
    pattern = r"\d+"
    for i in re.finditer(pattern,text):
        print("Number is :",i.group(0),", index position :",i.start())
number()

Number is : 947 , index position : 32
Number is : 896 , index position : 37
Number is : 926 , index position : 42
Number is : 524 , index position : 47
Number is : 734 , index position : 52
Number is : 950 , index position : 57
Number is : 642 , index position : 62

Q22. write a regular expression in python program to extract maximum/largest numeric value from a string

In [301]:
def largest_numeric_value(sample_text):
    pattern = "\d+"
    result=re.findall(pattern,sample_text)
    print("The largest numeric value from a string is :",max(result))
    
sample_text = "My marks in each semester are : 947, 896, 926, 524, 734, 950, 642"
largest_numeric_value(sample_text)

The largest numeric value from a string is : 950

Q23. Create a function in python to insert sapces between words starting with capital letters

In [302]:
def insert_space():
    sample_text = "RegularExpressionIsAnImportantTopicInPython"
    pattern=r"([A-Z]+)"
    result=re.sub(pattern,r" \1",sample_text)
    print(result)

insert_space()

 Regular Expression Is An Important Topic In Python

Q24. Python regex to find sequences of one upper case letter followed by lower case letters

In [303]:
def sequence(sample_text):
    pattern = "^[A-Z][a-z]+$"
    if (re.findall(pattern,sample_text)):
        print("Match found",sample_text)
    else:
        print("Match not found",sample_text)

sample_text = input("Enter text")
sequence(sample_text)

Enter textData
Match found Data

Q25. Write a python program to remove continuous duplicate words from sentence usin regular expression

In [304]:
def remove_duplicate(sentence):
    pattern = r"(\b\w+)(?:\W+\1\b)+"
    result = re.sub(pattern,r"\1",sentence)
    return result

sentence = "Hello hello world world"
result = remove_duplicate(sentence)
print(result)

Hello hello world

Q26. Write a python program using regex to accept string ending with alphanumeric character.

In [305]:
def alphanumeric():
    sample_text = "Abcd123"
    pattern="[a-zA-Z0-9]+$"
    result=re.search(pattern,sample_text)
    if(result):
        print("Accept, String end with alpanumeric character")
    else:
        print("Don't accept, String does not end with alphanumeric character")

alphanumeric()

Accept, String end with alpanumeric character

Q27. Write a python program using regex to extract the hash tags

In [306]:
def extract_hastags():
    sample_text = """RT @Kapil_kausik #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
    pattern=r"#[A-za-z]+"
    result=re.findall(pattern,sample_text)
    print(result)
    
extract_hastags()

['#Doltiwal', '#xyzabc', '#Demonetization']

Q28. Write a python program using regex to remove <U+...> like symbols

In [307]:
def remove_symbols():
    sample_text="@Jags123456 Bharat band on 28?? <ed><U+00BD><ed><U+00B8><U+0082> Those who are protesting #Demonetization are all different party leaders"
    pattern = "<U\+[0-9A-Za-z]+>"
    result= re.sub(pattern,"",sample_text)
    return result

result = remove_symbols()
print(result)

@Jags123456 Bharat band on 28?? <ed><ed> Those who are protesting #Demonetization are all different party leaders

Q29. Write a python program to extract dates from the text stored in the text file

In [308]:
def extract_dates():
    with open("date_file.txt") as file:
        text = file.read()
        pattern="\d{2}-\d{2}-\d{4}"
        date = re.findall(pattern,text)
        print(date)
        
extract_dates()

['12-09-1992', '15-12-1999']

Q30 Create a function in python to remove all words from a string of length between 2 and 4. The use of re.compile() method is mandatory

In [309]:
def remove_words():
    string = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly"
    pattern = re.compile(r"\b\w{2,4}\b")
    remove = re.sub(pattern,"",string)
    print(remove)
    
remove_words()

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly