# Assignment 4

In [2]:
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.webdriver.common.by import By
from selenium.common.exceptions import ElementClickInterceptedException,ElementNotInteractableException,NoSuchElementException

Q1 Scrape the details of most viewed videos on YouTube from Wikipedia

In [3]:
driver = webdriver.Chrome()
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)
driver.maximize_window()
time.sleep(3)
names = []
artist = []
views = []
date = []
name_tag = driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[1]')
artist_tag = driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[2]')
view_tag = driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[3]')
date_tag = driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[4]')

for i in name_tag:
    names.append(i.text)
    
for i in artist_tag:
    artist.append(i.text)
    
for i in view_tag:
    views.append(i.text)
    
for i in date_tag:
    date.append(i.text)
    
driver.close()   

df = pd.DataFrame({"Name":names,"Artist":artist,"Upload date":date,"Viwes":views})
df

,Name,Artist,Upload date,Viwes
0,"""Baby Shark Dance""[7]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",15.12
1,"""Despacito""[10]",Luis Fonsi,"January 12, 2017",8.55
2,"""Johny Johny Yes Papa""[18]",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.95
3,"""Bath Song""[19]",Cocomelon - Nursery Rhymes,"May 2, 2018",6.85
4,"""Wheels on the Bus""[20]",Cocomelon - Nursery Rhymes,"May 24, 2018",6.56
5,"""See You Again""[21]",Wiz Khalifa,"April 6, 2015",6.40
6,"""Shape of You""[26]",Ed Sheeran,"January 30, 2017",6.33
7,"""Phonics Song with Two Words""[29]",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",6.00
8,"""Uptown Funk""[30]",Mark Ronson,"November 19, 2014",5.33
9,"""Gangnam Style""[31]",Psy,"July 15, 2012",5.30
10,"""Learning Colors ‚Äì Colorful Eggs on a Farm""[36]",Miroshka TV,"February 27, 2018",5.15
11,"""Axel F""[37]",Crazy Frog,"June 16, 2009",4.78
12,"""Dame Tu Cosita""[38]",Ultra Records,"April 5, 2018",4.74
13,"""Masha and the Bear ‚Äì Recipe for Disaster""[39]",Get Movies,"January 31, 2012",4.60
14,"""Baa Baa Black Sheep""[40]",Cocomelon - Nursery Rhymes,"June 25, 2018",4.17
15,"""Lakdi Ki Kathi""[41]",Jingle Toons,"June 14, 2018",4.13
16,"""Sugar""[42]",Maroon 5,"January 14, 2015",4.09
17,"""Counting Stars""[43]",OneRepublic,"May 31, 2013",4.05
18,"""Roar""[44]",Katy Perry,"September 5, 2013",4.03
19,"""Waka Waka (This Time for Africa)""[45]",Shakira,"June 4, 2010",4.01
20,"""Shree Hanuman Chalisa""[46]",T-Series Bhakti Sagar,"May 10, 2011",3.97
21,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.89
22,"""Sorry""[48]",Justin Bieber,"October 22, 2015",3.84
23,"""Thinking Out Loud""[49]",Ed Sheeran,"October 7, 2014",3.79
24,"""Perfect""[50]",Ed Sheeran,"November 9, 2017",3.78
25,"""Dark Horse""[51]",Katy Perry,"February 20, 2014",3.77
26,"""Let Her Go""[52]",Passenger,"July 25, 2012",3.70
27,"""Faded""[53]",Alan Walker,"December 3, 2015",3.67
28,"""Girls Like You""[54]",Maroon 5,"May 31, 2018",3.65
29,"""Lean On""[55]",Major Lazer Official,"March 22, 2015",3.65

Q2 Scrape the details team India‚Äôs international fixtures from bcci.tv

In [19]:
driver = webdriver.Chrome()
url = "https://www.bcci.tv/"
driver.get(url)
driver.maximize_window()
fixtures = driver.find_element(By.XPATH,'//div[@id="pills-international"]/ul/div[1]/a[2]')
fixtures.click()
time.sleep(5)
    
series = []
place = []
date = []
time = []

series_tag = driver.find_elements(By.XPATH,'//div[@class="match-card-top"]/div[2]/h5')
place_tag = driver.find_elements(By.XPATH,'//div[@class="match-card-top"]/div[2]/div[3]')
date_tag = driver.find_elements(By.XPATH,'//div[@class="match-card-top"]/div[2]/div[1]/div[1]')
time_tag = driver.find_elements(By.XPATH,'//div[@class="match-card-top"]/div[2]/div[1]/div[2]')

for i in series_tag:
    series.append(i.text)
    
for i in place_tag:
    place.append(i.text)

for i in date_tag:
    date.append(i.text)

for i in time_tag:
    time.append(i.text)
driver.close()

df = pd.DataFrame({"Series":series,"Place":place,"Date":date,"Time":time})
df

,Series,Place,Date,Time
0,ICC Womens T20 World Cup 2024,"Dubai International Cricket Stadium, Dubai",4 Oct,19:30 IST
1,ICC Womens T20 World Cup 2024,"Dubai International Cricket Stadium, Dubai",6 Oct,15:30 IST
2,Bangladesh Tour of India T20 Series 2024,"Shrimant Madhavrao Scindia Cricket Stadium, Gw...",6 Oct,19:00 IST
3,Australia U19 Tour of India Multiday Series,"M A Chidambaram Stadium, Chennai",7 Oct,9:30 IST
4,ICC Womens T20 World Cup 2024,"Dubai International Cricket Stadium, Dubai",9 Oct,19:30 IST

Q3 Scrape the details of State-wise GDP of India from statisticstime.com.

In [6]:
driver = webdriver.Chrome()
url = "http://statisticstimes.com/"
driver.get(url)
driver.maximize_window()
time.sleep(5)
economy_tag = driver.find_element(By.XPATH,'//div[@class="navbar"]/div[2]/button/i')
economy_tag.click()
time.sleep(5)
indian_tag = economy_tag.find_element(By.XPATH,'//div[@class="navbar"]/div[2]/div/a[3]')
indian_tag.click()
time.sleep(5)
state_wise_gdp = driver.find_element(By.XPATH,'//a[@href="india/indian-states-gdp.php"]')
state_wise_gdp.click()
time.sleep(20)
rank = []
state = []
gsdp = []
gsdp1 = []
share = []
gdp = []

rank_tag = driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]/table/tbody/tr/td[1]')
state_tag = driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]/table/tbody/tr/td[2]')
gsdp_tag = driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]/table/tbody/tr/td[5]')
gsdp1_tag = driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]/table/tbody/tr/td[10]')
share_tag = driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]/table/tbody/tr/td[6]')
gdp_tag = driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]/table/tbody/tr/td[7]')
for i in rank_tag:
    rank.append(i.text)

for i in state_tag:
    state.append(i.text) 
    
for i in gsdp_tag:
    gsdp.append(i.text)
    
for i in gsdp1_tag:
    gsdp1.append(i.text)

for i in share_tag:
    share.append(i.text)
    
for i in gdp_tag:
    gdp.append(i.text)
    
driver.close()
df = pd.DataFrame({"Rank":rank,"State":state,"GSDP (21-22)-at current prices":gsdp,"GSDP (21-22) at 2011-12 price":gsdp1,"Share (21-22)":share,"GDP ($billion)":gdp})
df

,Rank,State,GSDP (21-22)-at current prices,GSDP (21-22) at 2011-12 price,Share (21-22),GDP ($billion)
0,1,Maharashtra,"3,108,022","2,027,971",13.17%,414.928
1,2,Tamil Nadu,"2,071,286","1,343,287",8.78%,276.522
2,3,Karnataka,"1,978,094","1,235,377",8.38%,264.080
3,4,Uttar Pradesh,"1,975,595","1,200,093",8.37%,263.747
4,5,Gujarat,"1,928,683","1,365,922",8.17%,257.484
5,6,West Bengal,"1,329,238","787,439",5.63%,177.456
6,7,Rajasthan,"1,193,489","727,805",5.06%,159.334
7,8,Andhra Pradesh,"1,148,471","722,727",4.87%,153.324
8,9,Telangana,"1,124,204","669,229",4.76%,150.084
9,10,Madhya Pradesh,"1,092,964","584,470",4.63%,145.913
10,11,Kerala,"934,542","578,057",3.96%,124.764
11,12,Delhi,"881,336","580,396",3.73%,117.660
12,13,Haryana,"868,905","544,317",3.68%,116.001
13,14,Odisha,"662,886","430,541",2.81%,88.497
14,15,Bihar,"650,302","399,930",2.76%,86.817
15,16,Punjab,"617,192","434,261",2.62%,82.397
16,17,Assam,"411,454","278,835",1.74%,54.930
17,18,Chhattisgarh,"410,525","280,609",1.74%,54.806
18,19,Jharkhand,"358,863","243,348",1.52%,47.909
19,20,Uttarakhand,"267,143","184,274",1.13%,35.664
20,21,Jammu & Kashmir,"193,352","119,174",0.82%,25.813
21,22,Himachal Pradesh,"172,162","124,770",0.73%,22.984
22,23,Goa,"84,266","55,342",0.36%,11.250
23,24,Tripura,"62,550","39,487",0.27%,8.351
24,25,Chandigarh,"46,096","30,587",0.20%,6.154
25,26,Puducherry,"43,810","27,131",0.19%,5.849
26,27,Meghalaya,"38,785","24,267",0.16%,5.178
27,28,Sikkim,"37,557","20,728",0.16%,5.014
28,29,Manipur,"36,594","20,515",0.16%,4.885
29,30,Arunachal Pradesh,"34,775","19,707",0.15%,4.643
30,31,Nagaland,"31,038","17,336",0.13%,4.144
31,32,Mizoram,"27,824","18,494",0.12%,3.715
32,33,Andaman & Nicobar Islands,"10,371","7,172",0.04%,1.385

Q4 Scrape the details of trending repositories on Github.com.

In [10]:
driver = webdriver.Chrome()
url = "https://github.com/"
driver.get(url)
driver.maximize_window()
time.sleep(5)

search_options = driver.find_element(By.XPATH,'//nav[@class="HeaderMenu-nav"]/ul/li[4]/button')
search_options.click()
time.sleep(3)
trading_option = search_options.find_element(By.XPATH,'//a[@href="https://github.com/trending"]')
trading_option.click()
time.sleep(5)

repository_title = []
repository_description = []
language_used = []
count = []

title_tag = driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]/a')
description_tag = driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
language_tag = driver.find_elements(By.XPATH,'//div[@class="f6 color-fg-muted mt-2"]/span[1]')
count_tag = driver.find_elements(By.XPATH,'//div[@class="f6 color-fg-muted mt-2"]/a[2]')

for i in title_tag:
    repository_title.append(i.text)
    
for i in description_tag:
    repository_description.append(i.text)
    
for i in language_tag:
    language_used.append(i.text)
    
for i in count_tag:
    count.append(i.text)
 
driver.close()

df = pd.DataFrame({"Repository title":repository_title,"Repository description":repository_description,"Contributors count":count,"Language used":language_used})
df

,Repository title,Repository description,Contributors count,Language used
0,mediar-ai / screenpipe,24/7 local AI screen & mic recording. Build AI...,319,Rust
1,exo-explore / exo,Run your own AI cluster at home with everyday ...,495,Python
2,godotengine / godot,Godot Engine ‚Äì Multi-platform 2D and 3D game e...,"20,854",C++
3,unclecode / crawl4ai,üî•üï∑Ô∏è Crawl4AI: Open-source LLM Friendly Web Cra...,750,Python
4,ToolJet / ToolJet,Low-code platform for building business applic...,"3,627",JavaScript
5,mlc-ai / web-llm,High-performance In-browser LLM Inference Engine,823,TypeScript
6,EbookFoundation / free-programming-books,üìö Freely available programming books,"61,316",Built by
7,dair-ai / Prompt-Engineering-Guide,"üêô Guides, papers, lecture, notebooks and resou...","4,713",MDX
8,All-Hands-AI / OpenHands,"üôå OpenHands: Code Less, Make More","3,728",Python
9,openai / whisper,Robust Speech Recognition via Large-Scale Weak...,"8,092",Python
10,pytorch / ao,PyTorch native quantization and sparsity for t...,114,Python
11,mainmatter / 100-exercises-to-learn-rust,"A self-paced course to learn Rust, one exercis...",838,Rust
12,github-linguist / linguist,Language Savant. If your repository's language...,"4,212",Ruby
13,continuedev / continue,‚è© Continue is the leading open-source AI code ...,"1,339",TypeScript
14,juspay / hyperswitch,An open source payments switch written in Rust...,"1,277",Rust
15,TheAlgorithms / Java,All Algorithms implemented in Java,"19,073",Java
16,OpenBB-finance / OpenBB,"Investment Research for Everyone, Everywhere.","2,878",Python
17,freeCodeCamp / freeCodeCamp,freeCodeCamp.org's open-source codebase and cu...,"37,507",TypeScript

Q5 Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/

In [11]:
driver = webdriver.Chrome()
driver.get("https:/www.billboard.com/")
driver.maximize_window()
time.sleep(2)

try:
    chart_option = driver.find_element(By.XPATH,'//div[@class="lrv-u-flex lrv-u-flex-basis-30p lrv-u-justify-content-center lrv-u-align-items-center"]/div/nav/ul/li[1]/a')
    chart_option.click()
except ElementNotInteractableException:
    chart_option = driver.find_element(By.XPATH,'//div[@class="lrv-u-flex lrv-u-flex-basis-30p lrv-u-justify-content-center lrv-u-align-items-center"]/div/nav/ul/li[1]/a')
    driver.get(chart_option.get_attribute('href'))
    time.sleep(10)
    
hot_100 = driver.find_element(By.XPATH,'//div[@class="main-sub-menu-container-esp js-hide-when-sticky lrv-u-flex lrv-u-background-color-white u-height-45"]/div/nav/ul/li[1]')
hot_100.click()
time.sleep(5)

song_name = []
artist_name = []
last_week_rank = []
peak_rank = []
week_board = []

song_tag = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[1]/h3')
artist_tag = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[1]/span')
last_week_rank_tag = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[4]/span')
peak_rank_tag = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[5]/span')
week_board_tag = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[6]/span')

for i in song_tag:
    song_name.append(i.text)
    
for i in artist_tag:
    artist_name.append(i.text)

for i in last_week_rank_tag:
    last_week_rank.append(i.text)
    
for i in peak_rank_tag:
    peak_rank.append(i.text)

for i in week_board_tag:
    week_board.append(i.text)

driver.close()

df = pd.DataFrame({"Song Name":song_name,"Artist Name":artist_name,"Last Week Rank":last_week_rank,"Peak Rank":peak_rank,"Weeks on board":week_board})
df

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks on board
0,A Bar Song (Tipsy),Shaboozey,1,1,24
1,I Had Some Help,Post Malone Featuring Morgan Wallen,2,1,20
2,Espresso,Sabrina Carpenter,3,3,24
3,"Good Luck, Babe!",Chappell Roan,4,4,25
4,Die With A Smile,Lady Gaga & Bruno Mars,5,3,6
...,...,...,...,...,...
95,Diet Pepsi,Addison Rae,81,81,3
96,Coincidence,Sabrina Carpenter,73,26,5
97,Passport Junkie,Rod Wave,61,61,2
98,Circadian Rhythm,Drake,66,59,4
99,Sharpest Tool,Sabrina Carpenter,76,21,5

Q6 Scrape the details of Highest selling novels.

In [6]:
driver = webdriver.Chrome()
url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"
driver.get(url)
driver.maximize_window()

time.sleep(5)

book_name = []
author_name = []
volume_sold = []
publisher = []
gener = []

bookname_tag = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
authorname_tag = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
volumesold_tag = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
publisher_tag = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
gener_tag = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')

for i in bookname_tag:
    book_name.append(i.text)

for i in authorname_tag:
    author_name.append(i.text)

for i in volumesold_tag:
    volume_sold.append(i.text)

for i in publisher_tag:
    publisher.append(i.text)
    
for i in gener_tag:
    gener.append(i.text)
    
driver.close()
    
df = pd.DataFrame({"Book Name":book_name,"Author Name":author_name,"Volume sold":volume_sold,"Publisher":publisher,"Gener":gener})
df

,Book Name,Author Name,Volume sold,Publisher,Gener
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

Q8 Details of Datasets from UCI machine learning repositories.

In [25]:
driver = webdriver.Chrome()
url = "https://archive.ics.uci.edu"
driver.get(url)
driver.maximize_window()
time.sleep(5)

search = driver.find_element(By.XPATH,'//input[@class="input join-item input-bordered input-sm w-full"]')
search.send_keys("all dataset")
search_button = driver.find_element(By.XPATH,'//button[@class="btn btn-primary join-item btn-sm"]')
search_button.click()
time.sleep(5)

try:
    expand = driver.find_element(By.XPATH,'//label[@class="btn btn-primary btn-sm flex gap-2 rounded-full"]')
    expand.click()
    time.sleep(5)
except NoSuchElementException:
    expand = driver.find_element(By.XPATH,'//label[@class="btn btn-primary btn-sm flex gap-2 rounded-full"]/span[2]/span[1]')
    expand.click()
    time.sleep(3)

dataset_name = []
data_type = []
task = []
number_instance = []
number_attribute = []
attribute_type = []
year = []

datasetname_tag = driver.find_elements(By.XPATH,'//h2[@class="truncate text-primary"]/a')
datatype_tag = driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[2]/span')
task_tag = driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[1]/span')
instance_tag = driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[3]/span')
attribute_tag = driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[4]/span')
attributetype_tag = driver.find_elements(By.XPATH,'//div[@class="grid grid-cols-8 overflow-x-auto"]/table/tbody/tr/td[2]')
year_tag = driver.find_elements(By.XPATH,'//div[@class="grid grid-cols-8 overflow-x-auto"]/table/tbody/tr/td[3]')

for i in datasetname_tag:
    dataset_name.append(i.text)
for i in datatype_tag:
    data_type.append(i.text)
for i in task_tag:
    task.append(i.text)
for i in instance_tag:
    number_instance.append(i.text)
for i in attribute_tag:
    number_attribute.append(i.text)
for i in attributetype_tag:
    attribute_type.append(i.text)
for i in year_tag:
    year.append(i.text)

driver.close()
df = pd.DataFrame({"Dataset Name":dataset_name,"Data Type":data_type,"Task":task,"Attribute Type":attribute_type,"Number of Instance":number_instance,"Number of Attribute":number_attribute,"Year":year})
df

,Dataset Name,Data Type,Task,Attribute Type,Number of Instance,Number of Attribute,Year
0,Wine Quality,Multivariate,"Classification, Regression",Real,4.9K Instances,12 Features,10/7/2009
1,Predict Students' Dropout and Academic Success,Tabular,Classification,"Real, Categorical, Integer",4.42K Instances,36 Features,12/13/2021
2,Statlog (German Credit Data),Multivariate,Classification,"Categorical, Integer",1K Instances,20 Features,11/17/1994
3,Estimation of Obesity Levels Based On Eating H...,Multivariate,"Classification, Regression, Clustering",Integer,2.11K Instances,16 Features,8/27/2019
4,Bike Sharing,Multivariate,Regression,"Integer, Real",17.39K Instances,13 Features,12/20/2013
5,Heart Failure Clinical Records,Multivariate,"Classification, Regression, Clustering","Integer, Real",299 Instances,12 Features,2/5/2020
6,Diabetes 130-US Hospitals for Years 1999-2008,Multivariate,"Classification, Clustering","Categorical, Integer",101.77K Instances,47 Features,5/3/2014
7,Chronic Kidney Disease,Multivariate,Classification,Real,400 Instances,25 Features,7/3/2015
8,Seoul Bike Sharing Demand,Multivariate,Regression,"Integer, Real",8.76K Instances,14 Features,3/1/2020
9,Apartment for Rent Classified,Multivariate,"Classification, Regression, Clustering","Categorical, Integer",10K Instances,21 Features,12/26/2019